* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  /* color */
  --bg-color: #f5f5f5;
  --text-layer: #f5f5f5;
  --text-color: #2c2c2c;
  --hover-text: #ee1c57;
  --p-color: #333c56;
  --p-product: #151515;
  --rate: #ff8c00;
  --sale-color: #27b737;
  /* border */
  --main-border: 1px solid #111;
  --bx-shadow: 0px 0px 10px rgb(0 0 0 10%);
  --border-radius: 2px;
}

/*  ====  == BASE =====  == */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
header.sticky {
  padding: 20px 6%;
  background: var(--bg-color);
  box-shadow: var(--bx-shadow);
}

section {
  padding: 3% 10%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* ==== Usable Css  ==== */
.logo {
  max-width: 120px;
  height: auto;
}

.navmenu {
  display: flex;
}

.navmenu a {
  color: var(--text-color);
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navmenu a:hover {
  color: var(--hover-text);
}

.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease-in-out;
}
.nav-icon i:hover {
  transform: scale(1.1);
  color: var(--hover-text);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
}

/* ===  MAIN    ======== */
.main-home {
  width: 100%;
  height: 100vh;
  background-image: url("/app/static/images/bag4.jpg");
  background-position: top;
  background-size: cover;
  display: grid;
  grid-template-columns: (1, 1fr);
  align-items: center;
}

.main-text h5 {
  color: var(--text-color);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.main-text h1 {
  color: var(--text-color);
  font-size: 40px;
  text-transform: capitalize;
  line-height: 1, 1;
  font-weight: 600;
  margin: 6px 0 10px;
}
.main-text p {
  color: var(--text-color);
  font-size: 20px;
  font-style: italic;
  margin-bottom: 2px;
}

.main-btn {
  display: inline-block;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 12px 25px;
  transition: all 0.42s ease;
  background-color: var(--text-color);
}

.main-btn:hover {
  background-color: var(--p-product);
  color: var(--bg-color);
  transform: scale(1.1);
}

.main-btn i {
  vertical-align: middle;
}

.down-arrow {
  position: absolute;
  top: 85%;
  right: 11%;
}
.down i {
  font-size: 30px;
  color: var(--text-color);
  border: 2px solid var(--p-product);
  border-radius: 50px;
  padding: 12px 12px;
}
.down-arrow i:hover {
  /* background-color: var(--text-color); */
  color: var(--hover-text);
  transition: all 0.42s ease;
  transform: scale(1.9);
}

/* ===== TRENDING SECTION ===== */
.center-text {
  color: var(--text-color);
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
.center-text span {
  color: var(--hover-text);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}

.row {
  position: relative;
  transition: all 0.42s;
}
.row img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
}

.row img:hover {
  transform: scale(0.9);
}
.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px 10px;
  color: var(--text-layer);
  background-color: var(--sale-color);
  border-radius: var(--border-radius);
}
.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
}
.heart-icon:hover {
  color: var(--hover-text);
}
.ratting i {
  color: var(--rate);
  font-size: 18px;
}

.price h4 {
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 400;
}
.price p {
  color: var(--p-product);
  font-size: 14px;
  font-weight: 600;
}

/* Updates  */

.up-center-text h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}
.cart img {
  width: 380px;
  height: auto;
  border-radius: 15px;
}
.update-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 1rem;
}

.cart h5 {
  color: var(--p-color);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.cart h4 {
  color: #111;
  font-size: 18px;
  font-weight: 6000;
}
.cart p {
  color: var(--p-color);
  font-size: 15px;
  max-width: 380px;
  line-height: 25px;
  margin-bottom: 12px;
}
.cart h6 {
  color: #151515;
  font-size: 14px;
  font-weight: 500;
}

/* about */
.contact {
  background: var(--main-border);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}
.contact-text h2 {
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}
.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}
.list {
  margin-bottom: 12px;
}
.list li {
  margin-bottom: 2.8rem;
}
.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.45s ease-in-out;
}
.list li a:hover {
  color: var(--text-color);
  transform: translateX(5px);
}
/* * contact start */
.contact {
  background-color: var(--bg-color);
}
.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}
.contact-info h4 {
  color: var(--text-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.contact-info p:hover {
  /* color: var(--hover-text); */
  border-radius: 50px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.11);
  transition: scale(1.9);
}

.first-info i {
  width: 140px;
  height: auto;
}
.social-icon {
  color: #565656;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.42s;
}
.social-icon i:hover {
  transition: scale(1.3);
}
/* contact end */
.end {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--bg-color);
}
.last-text p {
  color: var(--p-color);
  font-size: 14px;
}
.top a {
  width: 40px;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}

/* Responsive */

@media (max-width: 890px) {
  header {
    padding: 20px 3%;
    transition: 0.4s;
  }
}
@media (max-width: 630px) {
  .main-text h1 {
    font-size: 50px;
    transition: 0.4s;
  }
  .main-text p {
    font-size: 18px;
    transition: 4s;
  }
  .main-btn {
    font-size: 10px 20px;
    transition: 0.4s;
  }
}

@media (max-width: 750px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all 0.42s;
  }
  .navmenu a {
    display: block;
    margin: 18px 0;
  }
  .navmenu.open {
    right: 0;
  }
}
