<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>{% block title %}Shoping with Melz and Naayte{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header start -->
    <header>
      <a href="#mainhome" class="logo"
        ><i class="bx bx-shopping-bag"></i> Code Jeans
      </a>
      <ul class="navmenu">
        <li><a href="#new">New & Best</a></li>
        <li><a href="#apperel">Apperel</a></li>
        <li><a href="#accessories">Accessories</a></li>
        <li><a href="#foot-wear">foot wear</a></li>
        <li><a href="#aboutinfo">About</a></li>
      </ul>

      <div class="nav-icon">
        <a href="#"><i class="bx bx-user"></i></a>
        <a href="#"><i class="bx bx-cart"></i></a>

        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </header>
    <!-- ===MAIN  START == -->
    <section class="main-home" id="mainhome">
      <div class="main-text">
        <h5>BOLD AND DARLING</h5>
        <h1>HAND BAGS</h1>
        <p>There's Nothing Like trend</p>

        <a href="#trending" class="main-btn">
          SHOP COLLECTION <i class="bx bx-right-arrow-alt"></i>
        </a>
      </div>
      <div class="down-arrow">
        <a href="#trending"><i class="bx bx-down-arrow-alt"></i></a>
      </div>
    </section>

    <!-- === TRENDIND PRODUCT SECTION  -->
    <section class="trending-product" id="trending">
      <div class="center-text">
        <h2>OUR TRENDING <span>PRODUCT</span></h2>
      </div>
      <div class="products">
        <div class="row">
          <img src="/app/static/images/Necklace_product_image_2.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Necklace</h4>
            <p>R300</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/earrings.webp" alt="" />
          <div class="product-text">
            <h5>Sale</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Earings</h4>
            <p>R300</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/SUN_glass.webp" alt="" />
          <div class="product-text">
            <h5>Sale</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Sunglasses</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/hat_1.webp" alt="" />
          <div class="product-text">
            <!-- <h5>Sale</h5> -->
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Hat</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/hat2.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Hat</h4>
            <p>R250</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/hat3.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Hat</h4>
            <p>R250</p>
          </div>
        </div>
      </div>
    </section>
    <!--  -->

    <!-- ======NEW AND BEST Products ====== -->
    <section class="trending-product" id="new">
      <div class="center-text">
        <h2>New <span>&</span> Best</h2>
      </div>
      <div class="products">
        <div class="row">
          <img src="/app/static/images/ROCKING-THE-GLOBE-BACK.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GRaphics T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/RTD-OG-WING-WHITE-BACK.webp" alt="" />
          <div class="product-text">
            <h5>Sale</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Graphical t-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t-shirt.png" alt="" />
          <div class="product-text">
            <h5>Sale</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB T-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/T-shirt_1.webp" alt="" />
          <div class="product-text">
            <!-- <h5>Sale</h5> -->
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Black Hat</h4>
            <p>R350</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t-shirt_2.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/crop-top2.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Crop Top</h4>
            <p>R250</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/CROP-TOP_1.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/CROP-TOP_1.webp" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/white large.png" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
      </div>
    </section>

    <!-- =========Apperel====== -->
    <section class="trending-product" id="apperel">
      <div class="center-text">
        <h2><span>APPEREL</span></h2>
      </div>
      <div class="products">
        <div class="row">
          <img src="/app/static/images/t1.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GRaphics T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t1.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Graphical t-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t2.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB T-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t4.png" alt="" />
          <div class="product-text">
            <!-- <h5>Sale</h5> -->
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Black Hat</h4>
            <p>R350</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t5.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t5.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Crop Top</h4>
            <p>R250</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t6.png" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t7.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t8.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t8.png" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t9.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t9.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
      </div>
    </section>
    <!-- ========accessories======  -->
    <section class="trending-product" id="accessories">
      <div class="center-text">
        <h2><span>Accessories</span></h2>
      </div>
      <div class="products">
            <div class="row">
          <img src="/app/static/images/hat3.webp" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Hat</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t1.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Graphical t-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t2.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB T-shirt</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t4.png" alt="" />
          <div class="product-text">
            <!-- <h5>Sale</h5> -->
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>GXB Black Hat</h4>
            <p>R350</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t5.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t6.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Crop Top</h4>
            <p>R250</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t7.png" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t7.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t8.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t8.png" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t9.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/t9.png" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
 
      </div>
    </section>
    <!-- ======FOOT WEAR======= -->
    <section class="trending-product" id="foot-wear">
      <div class="center-text">
        <h2>Foot<span> Wear</span></h2>
      </div>
      <div class="products">
        <div class="row">
          <img src="/app/static/images/sh1.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Ladies pair</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh1.jpg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Ladies pair</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh2.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Ladies par</h4>
            <p>R400</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh4.jpeg" alt="" />
          <div class="product-text">
            <!-- <h5>Sale</h5> -->
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Ladies piar</h4>
            <p>R350</p>
          </div>
        </div>
        <div class="row">
          <img src="/image/sh5.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Ladies paor</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh5.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>Crop Top</h4>
            <p>R250</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh7.jpeg" alt="" />
          <div class="product-text">
            <h5>New</h5>
          </div>
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh8.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>
        <div class="row">
          <img src="/app/static/images/sh9.jpeg" alt="" />
          <div class="heart-icon">
            <i class="bx bx-heart"></i>
          </div>
          <div class="ratting">
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bx-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>

          <div class="price">
            <h4>T-shirt</h4>
            <p>R500</p>
          </div>
        </div>

 
      </div>
    </section>
    <!-- ===Update Cart -->
    <section class="update-news">
      <div class="up-center-text">
        <h2>New Updates</h2>
      </div>
      <div class="update-cart">
        <div class="cart">
          <img src="/app/static/images/up1.jpg" alt="" />
          <h5>25 Jan 2025</h5>
          <h4>Let's Start</h4>
          <p>Nduduzo Bringing new exclusive updates on the front End Devs</p>

          <h6>Continue Reading....</h6>
        <!-- </div> -->
        <div class="cart">
          <img src="/app/static/images/up.jpg" alt="" />
          <h5>25 Jan 2025</h5>
          <h4>Let's Start</h4>
          <p>
            Code by Melz and Nduduzo.Melz on the back with Nduduzo on the front
            End.The exotic Combo year
          </p>

          <h6>Continue Reading....</h6>
        </div>
        <div class="cart">
          <img src="/image/up1.jpg" alt="" />
          <h5>25 Jan 2025</h5>
          <h4>Let's Start Bring sale on this Summer vacation</h4>
          <p>
            Melz Bringing new exclusive updates on the back End not just that
            but also new skills you have to see out, Make sure to always be
            updated. Code Jeans will be elevating to new height this time of the
            year
          </p>

          <h6>Continue Reading....</h6>
        </div>
      </div>
    </section>
    <!--===== About Info ====-->
    <section class="contact" id="aboutinfo">
      <div class="contact-info">
        <div class="first-info">
          <i class="bx bx-shopping-bag"></i> Code Jeans
          <p>
            142 Duiff stress <br />
            Tekwane South <br />
            Nelspruit
          </p>
          <p>(+27) 123 4356</p>
          <p>melz&nduduzo@gmail.com</p>

          <div class="social-icon">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
            <a href="#"><i class="bx bxl-linkdin"></i></a>
          </div>
        </div>
        <div class="second-info">
          <h4>Supporter</h4>
          <p>Contact Us</p>
          <p>About Page`</p>
          <p>Size Guide</p>
          <p>Shopping & Resturn</p>
        </div>

        <div class="third-info">
          <h4>Shop</h4>
          <p>Men's Shopping</p>
          <p>Women's Shopping</p>
          <p>Kid's Shopping</p>
          <p>Discount</p>
        </div>
        <div class="forth-info">
          <h4>Company</h4>
          <p><About/p></p>
          <p>Bloq</p>
          <p>Login</p>
        </div>

        <div class="five">
          <h4>Subscriber</h4>
          <p>
            Receive Updates, Hot Deals, Discount Sent Straight in Your Inbox
            Daily
          </p>
          <p>For Better experience</p>
          <p>latest Fashion trends</p>
        </div>
      </div>
    </section>

    <!-- ====end=== -->
    <section class="end">
      <div class="last-text">
        <p>
          Copyright &copy; @2025.All Rights Reserved.Designed by Melz & Nduduzo.
        </p>
      </div>
      <div class="top">
        <a href="#mainhome"><i class="bx bx-arrow-to-top"></i></a>
      </div>
    </section>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
